.HomePage {
    width: 100%;
    overflow: hidden;
}

.header_img {
    background-image: url(../../Img/grilled-beef-steak-on-the-dark-wooden-surface-photoaidcom-darken-photoaidcom-darken.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: black;
    height: 110vh;
    max-width: 100%;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}

.img_container {
    
    background-color: black;
}
.parallaxContainer{
    height: 400px;
    overflow: hidden;
}